/* .overflow-x-auto {
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;
}

.flex-row {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
}

.opinion-box {
  min-width: 250px;
  max-width: 250px;
} */
