django
djangorestframework
django-cors-headers
djangorestframework-simplejwt
dj_database_url
wheel
psycopg2-binary
django-redis
PyJWT
redis
numpy
pandas
openai
requests
panda
beautifulsoup4