django
djangorestframework
django-cors-headers
djangorestframework-simplejwt
dj_database_url
wheel
psycopg2-binary
django-redis
PyJWT
redis
pandas
openai
black
PyPDF2
python-docx
# pytesseract
# pillow
