@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto Flex", sans-serif;
  color: #534615;
  background: linear-gradient(
    210deg,
    #9b988c 3.85%,
    #bdb9ac 29.83%,
    #9a978c 77.73%
  );
}

/* /api/signup */
